body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.login-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.login-container input {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}

.login-container button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.result {
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
}
